# Generated with ./make-dockerfile.py

FROM python:3.7-slim

WORKDIR /app

COPY requirements.txt .
RUN pip3 install -r requirements.txt

COPY app .
COPY image-specific/{{ name }} image-specific

ENTRYPOINT python3 bot.py
